body {
    padding-top: 60px;
}

a {
    cursor: pointer;
}

.navbar-default {
    background-color: #3B305F;
}

nav a {
    color: #ffffff !important;
}

nav a:hover {
    color: #eeeeee;
}

.gist-meta {
    visibility: hidden;
}

.gist-meta a:nth-child(2) {
    visibility: visible;
    color: #3B305F;
    pointer-events: none;
    cursor: default;
}