<!DOCTYPE html>
<html ng-app="app">

<head>
	<meta charset="utf-8">
	<meta name="theme-color" content="#3B305F">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Laboratory</title>
	<link rel="icon" href="./img/favicon.png" />
	<link rel="stylesheet" href="./css/bootstrap.min.css" />
	<link rel="stylesheet" href="./css/main.css" />
</head>

<body ng-controller="commonCtrl">
	<div id="flask">
		<div class="background"></div>
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 113 130" xml:space="preserve">
			<g>
				<path fill="#3B305F" d="M0,0v130h112.084L111.75,0H0z M94.75,128C71,128,56,128,56,128s-14.873,0-38.623,0s-13.945-19.422-6.33-35.945S40,41.25,40,41.25V3h16h11v38.25c0,0,23.901,34.283,31.517,50.805S118.5,128,94.75,128z"
				/>
				<path fill="none" stroke="#ffffff" stroke-width="5" stroke-miterlimit="10" d="M56,127.5c0,0-14.873,0-38.623,0s-13.695-19.172-6.08-35.695C18.912,75.283,40.5,41.25,40.5,41.25V2.5h-9H56h19.5h-8v38.75c0,0,23.651,34.033,31.267,50.555c7.615,16.523,19.733,35.695-4.017,35.695S56,127.5,56,127.5z"
				/>
			</g>
		</svg>
		<div class="bubble b0"></div>
		<div class="bubble b1"></div>
		<div class="bubble b2"></div>
		<div class="bubble b3"></div>
		<div class="bubble b4"></div>
		<div class="bubble b5"></div>
		<div class="bubble b6"></div>
		<div class="bubble b7"></div>
		<div class="bubble b8"></div>
		<div class="bubble b9"></div>
		<div class="swirl s0"></div>
		<div class="swirl s1"></div>
		<div class="swirl s2"></div>
		<div class="swirl s3"></div>
		<div class="swirl s4"></div>
		<div class="swirl s5"></div>
	</div>
	<h2 class="title"><strong>Codelab</strong></h2>

	<div class="content-wrap">
		<div class="container">
			<div class="row tags">
				<div class="col-md-2 col-sm-3 col-xs-6 text-center tag" ng-repeat="(key, value) in uniqueTags">
					<div class="value">{{value}}</div>
					<div class="key">{{key}}</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<input type="text" class="form-control" placeholder="Search..." ng-model="search">
				</div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-md-12">
					<div class="list-group">
						<a class="list-group-item" ng-repeat="item in list | filter:search" ng-href="{{item.url}}"><span class="badge"><span class="glyphicon glyphicon-chevron-right"></span></span>{{item.title}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="./js/angular.min.js"></script>
	<script src="./js/app.js"></script>
</body>

</html>