.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 40px;
  margin-left: -20px;
  top: 50%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #000;
  border-radius: 25px;
  height: 70px;
}

.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #000;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
    transform: translateY(46px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
    transform: translateY(46px);
  }
}

@media only screen and (max-device-width: 768px) {
  .icon-scroll {
    height: 80px;
    border-radius: 4px;
  }
  .icon-scroll:after {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    margin: 1px auto 0 auto;
    border: 1px solid #000;
    border-radius: 50%;
  }
  .icon-scroll-screen {
    position: relative;
    width: 34px;
    height: 56px;
    margin: 10px auto 0;
    border: 1px solid #000;
  }
  .icon-scroll:before {
    top: 58px;
  }
  @-webkit-keyframes scroll {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(-46px);
      transform: translateY(-46px);
    }
  }
  @keyframes scroll {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(-46px);
      transform: translateY(-46px);
    }
  }
}